.body {
}

.section {
  display: flex;
  gap: 30px;

  margin: auto;
  margin-top: 40px;

  width: 95%;
  height: calc(100vh - 140px);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 35px;

  border: solid 1px #38862d;
  border-radius: 12px;
  width: calc(100% - 396px - 30px);
}
