// scss made from scratch

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(234, 238, 237, 1);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 53px;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
}


.logo {
  width: 598px;
  margin-top: 46px;
}

.wallpaper {
  width: 1170px;
  border-radius: 12px;
  border: #1E2D34 4px solid;
  margin: 0px 62px 36px 63px ;
}


.form {
  width: 595px;
  padding: 50px;
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 12px;
}


.textmain {
  color: #38862D;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 135px;
}

.label {
  display: flex;
  color: #1F4D18 ;
  font-weight: 500;
  font-size: 20px;
  padding-top: 11px;
}

.input {
  width: 500px;
  height: 55px;
  padding-bottom: 12px;
  border: #38862D 1px solid;
  border-radius: 2px;
  text-align: center;
  padding-top: 12px;
}

.forget {
  color: #1F4D18;
  font-size: 16px;
  font-weight: 500;
  margin-left: 314px;
  cursor: pointer;
}

.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  margin-top: 600px;
  cursor: pointer;
}

.networks img {
  width: 50px;
}



.btnlogin {
  width: 500px;
  height: 55px;
  font-size: 24px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #AFF4C6;
  color: #1F4D18;
  border-radius: 2px;
}

.btnlogin:hover {
  background-color: #AFF4C6;
}

.btngoogle {
  width: 500px;
  height: 55px;
  font-size: 24px;
  border-radius: 2px;
  background-color: #2E3748;
}

.btngoogle:hover {
  background-color: #2E3748;
}

.baseboard {
  text-align: center;
  font-weight: 500;
}

.createacc {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

// Layout smaller / bigger screens // 

@media (max-width: 1440px ) {
  .left {
    gap: 83px;
  }

  .logo {
    width: 335px;
    margin-top: 83px;
   filter: drop-shadow(rgba(0, 0, 0, 0.25));
  }
  
  .wallpaper {
    width: 740px;
    border: #1E2D34 4px solid;
    border-radius: 12px;
    margin: 83px 77px 25px 77px ;
  }


  .form {
    width: 440px;
    padding: 20px 40px 20px 41px;
    background-color: #FFFFFF;
    border-radius: 12px;
  }

  .textmain {
    color: #38862D;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 36px;
  }

  .label {
    color: #1F4D18 ;
    font-weight: 500;
    font-size: 16px;
    padding-top: 0px;
  }
  
  .input {
    width: 355px;
    height: 40px;
    padding-bottom: 0px;
    border: #38862D 1px solid;
    border-radius: 2px;
    text-align: center;
    padding-top: 0px;
  }

  .btnlogin {
    width: 355px;
    height: 40px;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #AFF4C6;
    color: #1F4D18;
    border-radius: 2px;
  }

  .btngoogle {
    width: 355px;
    height: 40px;
    font-size: 20px;
    border-radius: 2px;
    background-color: #2E3748;
  }


  .forget {
    color: #1F4D18;
    font-size: 16px;
    font-weight: 500;
    margin-left: 165px;
    cursor: pointer;
  }

  .networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 550px;
    cursor: pointer;
  }

  .networks img {
    width: 50px;
  }
}

@media (max-width: 1024px) {
  .left {
    display: none;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 1024px;
    align-items: center;
    justify-items: center;
    background: none;
    padding: 0px 40px 20px 41px;
    margin-top: 226px;
  }

  .input {
    width: 400px;
  }

  .label {  
    text-align: left;
    display: block;
    width: 42%;
  }


  .textmain {
    font-size: 20px;
    padding-bottom: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .btnlogin {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 16px;
  }

  .btngoogle {
    width: 400px;
    font-size: 16px;
  }
  
  .forget {
   text-align: right;
    margin-left: 205px;
  }
}

@media (max-width: 768px) {
  .right {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .form {
    background: none;
    padding: 0px 40px 20px 41px;
    margin-top: 0px;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }

  .textmain {
    font-size: 20px;
    padding-bottom: 24px;
    text-align: center;
  }

  .btnlogin {
    width: 400px;
    font-size: 16px;
  }

  .btngoogle {
    width: 400px;
    font-size: 16px;
  }
  
  .forget {
    margin-left: 135px;
  }
}

@media (max-width: 480px) {

  .input {
    width: 300px;
  }

  .label {
    width: 32%;
    display: flex;
    justify-content: space-between;
  }

  .btnlogin {
    width: 300px;
    font-size: 16px;
  }

  .btngoogle {
    width: 300px;
    font-size: 16px;
  }

  .forget {
    margin-left: 0px;
  }


  
}