.container {
  background-color: #EAEEED;
}

.logo {
  width: 598px;
  padding-left: 10rem;
}

.wallpaper {
  width: 55%;
  object-fit: cover;
  margin-left: 1.5rem;
  border: #1E2D34 0.2rem solid;
  border-radius: 2rem;
}

.form {
  width: 20rem;
  background-color: red;
  position: relative;
  margin-left: 50%;
  z-index: 1;
}
